
@using Sample3.Controllers;

@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "/Views/Shared/_Layout2.cshtml";
    string[] tableHeader = new string[] { "Amount", "Date Doposit", "Action" };
    string[] loanHeader = new string[] { "", "Amount", "Date", "Action" };

}

<div class="container-fluid">
    <div class="row p-sm-4" style="margin-top:50px">
        <div class="col-sm-4">
            <h3>Member Information</h3>
            <div class="container my-3" style="border-top: groove; border-bottom:groove">
                <div class="form-group mx-auto d-block my-4 ">
                    <div class="form-group" style="margin-left:20px">
                        <h6>Member ID</h6>
                    </div>
                    <div class="form-group justify-content-center">
                        <p class="form-control border-primary" style="border-radius:20px" id="getmemberid">@ViewData["MemberID"]</p>
                    </div>
                    <div class="form-group" style="margin-left:20px">
                        <h6>Name</h6>
                    </div>
                    <div class="form-group justify-content-center">
                        <p class="form-control border-primary" style="border-radius:20px" id="getfname">@ViewData["FName"]</p>
                    </div>
                    <div class="form-group" style="margin-left:20px">
                        <h6>Contact No.</h6>
                    </div>
                    <div class="form-group justify-content-center">
                        <p class="form-control border-primary" style="border-radius:20px" id="getcontactno">@ViewData["ContactNo"]</p>
                    </div>
                    <div class="form-group" style="margin-left:20px">
                        <h6>Address</h6>
                    </div>
                    <div class="form-group justify-content-center">
                        <p class="form-control border-primary" style="border-radius:20px" id="getaddress">@ViewData["Address"]</p>
                    </div>
                    <div class="form-group" style="margin-left:20px">
                        <h6>Member Type</h6>
                    </div>
                    <div class="form-group justify-content-center">
                        <p class="form-control border-primary" style="border-radius:20px" id="MemType">@ViewData["MemberType"]</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <input data-toggle="modal" data-target="#UpdateMember" onclick="ClearMemberData()" type="button" class="btn btn-primary" value="Update" style="margin:10px;border-radius:25px;width:100px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h3>Fund Overview</h3>
            <input class="form-control newradius" value="@ViewData["FundYear"]" type="number" id="fundyear">
            @{
                if (HomeController.set_memtype == 1)
                {
                    if (HomeController.fund_rec == true)
                    {
                        <div class="container m-2 border-top border-bottom">
                            <div class="container my-2 p-3">
                                <div class="form-row">
                                    <div class="col"><h6>No. of Heads</h6></div>
                                    <div class="col"><p class="form-control btn-outline-secondary" id="" style="border-radius:10px">@ViewData["NoOfHeads"]</p></div>
                                </div>
                                <div class="form-row">
                                    <div class="col"><h6>Total Amount</h6></div>
                                    <div class="col"><p class="form-control btn-outline-secondary" id="" style="border-radius:10px">@ViewData["TAmount"]</p></div>
                                </div>
                                <div class="form-row">
                                    <div class="col"><h6>Total Deposit</h6></div>
                                    <div class="col"><p class="form-control btn-outline-secondary" id="TotalAmount" style="border-radius:10px">@ViewData["TotalDeposit"]</p></div>
                                </div>
                                <input id="fund_recno" type="hidden" value="@ViewData["FundRecNo"]" />
                                <div class="form-row d-flex justify-content-center">
                                    <input data-toggle="modal" data-target="#AddDeposit" onclick="AddDepositForm()" type="button" class="btn btn-primary" value="Add Deposit" style="border-radius:20px;width:auto; margin:10px">
                                    <input data-toggle="modal" data-target="#LoadData" onclick="GetData()" type="button" class="btn btn-primary" value="View All Records" style="border-radius:20px;width:auto;margin:10px">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="container m-2 border-top border-bottom">
                            <div class="form-row d-flex justify-content-center">
                                <input data-toggle="modal" data-target="#ApplySinking" onclick="ApplySinking()" type="button" class="btn btn-primary" value="Apply this Year" style="border-radius:10px;width:auto;margin:10px">
                            </div>
                        </div>
                    }
                }
            }
            <div class="container">
                <h4>List of Loan</h4>
                <div class="table-responsive">
                    <form asp-action="GetRecLoanRec" method="get">
                        <table class="table table-bordered table-hover" id="LoanDataTable">
                            <thead>
                                <tr>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th style="visibility:hidden"></th>
                                </tr>
                            </thead>
                            <tbody id="tloandata">
                                @{
                                    if (Model != null)
                                    {
                                        foreach (var Data in Model)
                                        {
                                            <tr>
                                                <td>@Data.amount</td>
                                                <td>@Data.loan_date</td>
                                                <td>
                                                    <input data-toggle="modal" data-target="#ApplyLoan" type="button" value="Edit" onclick="EditLoanRec()" />
                                                    <input type="button" value="Delete" onclick="DeleteLoan()" />
                                                    <input type="submit" value="View" onclick="ViewLoanRecord()" />
                                                </td>
                                                <td style="visibility:hidden">@Data.dbrecno</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                        @{ var str = ""; var recno = "";
                            <input asp-for="@str" type="hidden" id="mem_id" />
                            <input asp-for="@recno" type="hidden" id="rec_no" />
                        }
                    </form>
                </div>
            </div>
            <div class="container d-flex justify-content-center">
                <input data-toggle="modal" data-target="#ApplyLoan" onclick="ApplyLoan()" type="button" class="btn btn-primary" value="Apply Loan" style="border-radius:10px;width:auto;margin:10px">
            </div>
        </div>
    </div>
</div>

@*//--------Update Member Modal-------//*@
<div class="modal fade" id="UpdateMember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:80px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <h6>Member ID</h6>
                        <p id="memid" class="form-control border-primary" style="border-radius:20px"></p>
                        <input id="memberid_up" class="form-control newradius" type="hidden">
                    </div>
                    <div class="form-group">
                        <h6>Select Member Type</h6>
                        <select class="form-control" id="memtype">
                            <option>Member</option>
                            <option>None-Member</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h6>Full Name</h6>
                        <input id="fname" class="form-control newradius">
                    </div>
                    <div class="form-group">
                        <h6>Contact No.</h6>
                        <input id="contactno" class="form-control newradius">
                    </div>
                    <div class="form-group">
                        <h6>Address</h6>
                        <input id="address" class="form-control newradius">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="UpdateMemberInfo()" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*//--------Display Fund Deposit Modal-------//*@
<div class="modal fade" id="LoadData" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:80px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deposit Records</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dataTable" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Date Doposit</th>
                                <th>Action</th>
                                <th style="visibility:hidden"></th>
                            </tr>
                        </thead>
                        <tbody id="tdata">
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*//--------Add Deposit Modal-------//*@
<div class="modal fade" id="AddDeposit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:80px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Deposit Amount</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <h6>Member ID</h6>
                        <p id="memid_dep" class="form-control border-secondary" style="border-radius:5px"></p>
                        <input id="memberid_dep" type="hidden">
                    </div>
                    <div class="form-group">
                        <h6>Enter Amount Deposit</h6>
                        <input type="number" id="amount_dep" class="form-control newradius">
                    </div>
                    <div class="form-group">
                        <h6>Date</h6>
                        <input id="date_dep" type="date" class="form-control newradius">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="SaveDeposit" onclick="AddDeposit()" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*//--------Update Deposit Modal-------//*@
<div class="modal fade" id="EditDeposit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:80px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Deposit Amount</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <h6>Member ID</h6>
                        <p class="form-control border-secondary" style="border-radius:5px" id="memberid_new"></p>
                        <input id="recno_dep" type="hidden" class="form-control newradius">
                    </div>
                    <div class="form-group" id="for_amount">
                        <h6>Enter Amount Deposit</h6>
                        <input id="amount" type="number" class="form-control newradius">
                    </div>
                    <div class="form-group" id="for_date">
                        <h6>Date</h6>
                        <input id="new_datedep" type="date" class="form-control newradius">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="EditDeposit()" id="editdep" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*//--------Apply Loan Modal-------//*@
<div class="modal fade" id="ApplyLoan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:80px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply Loan Process</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td><h6 style="margin-top:7px">Member ID</h6></td>
                                <td>
                                    <p id="memid_loan" class="form-control border-secondary"></p>
                                    <input id="dbrecno" type="hidden" class="form-control newradius">
                                </td>
                            </tr>
                            <tr>
                                <td><h6 style="margin-top:7px">Enter Amount</h6></td>
                                <td>
                                    <input id="amount_loan" type="number" class="form-control newradius">
                                </td>
                            </tr>
                            <tr>
                                <td><h6 style="margin-top:7px">Interest Rate</h6></td>
                                <td><input id="interest_lon" type="number" class="form-control newradius"></td>
                            </tr>
                            <tr>
                                <td><h6 style="margin-top:7px">No of Months to Pay</h6></td>
                                <td><input id="No_pay" type="number" class="form-control newradius"></td>
                            </tr>
                            <tr>
                                <td><h6 style="margin-top:7px">Payment Start</h6></td>
                                <td><input id="pay_start" type="date" class="form-control newradius"></td>
                            </tr>
                            <tr>
                                <td><h6 style="margin-top:7px">Payment End</h6></td>
                                <td><input id="pay_end" type="date" class="form-control newradius"></td>
                            </tr>
                            <tr>
                                <td><h6 style="margin-top:7px">Date Process</h6></td>
                                <td><input id="date_proccess" type="date" class="form-control newradius"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="SaveLoanData" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @Html.Hidden("RedirectTo", Url.Action("DisplayFund", "Home"));
</div>

@*//--------Apply Sinking-------//*@
<div class="modal fade" id="ApplySinking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:80px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Sinking"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveApplySinking" method="get">
                    @{ var sink = new ApplySinking();
                        <div class="form-row mb-3">
                            <div class="col"><h6 class="mt-2">Enter Number of Heads</h6></div>
                            <div class="col"><input asp-for="@sink.noOf_heads" id="apply_sinking" type="number" class="form-control newradius"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="" onclick="" class="btn btn-primary">Apply</button>
                        </div>

                        <input asp-for="@sink.mem_id" type="hidden" id="setmem_id" />
                        <input asp-for="@sink.year" type="hidden" id="set_year" />
                    }
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/JSConnection.js"></script>
<script src="~/js/PageController.js"></script>
<script src="~/js/MemberInfoPage.js"></script>
<script src="~/js/AjaxController.js"></script>
<script src="~/js/DisplayList.js"></script>
<script src="~/js/LoanProcess.js"></script>

@{if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
    }
}
